{% extends "layout.html" %}
{% load static %}

{% block title %}Profile{% endblock%}

{% block header %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block main %}
    <h1>Profile</h1>
    <!-- Display User's Profile -->
    <img id="profile-img" src="{% static 'images/person_icon.png' %}" alt="profile_image" class="rounded-circle shadow">

    <form id="upload-img-form" class="row g-3" enctype="multipart/form-data">
        <div class="col-auto">
            <label for="profile_image" class="form-label visually-hidden">Profile Image</label>
            <input type="file" class="form-control" id="profile_image" name="profile_image" accept="images/*" required>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Update Profile Image</button>
        </div>
    </form>

    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Username</th>
            <td id="username">bbbuay</td>

        </tr>
        <tr>
            <th scope="row">Email</th>
            <td id="email">Emai@gmail.com</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td id="full-name">Hello World</td>
        </tr>
        </tbody>
    </table>

    <!--  Notification Modal for Login Error  -->
    <div class="modal fade" id="FailModal" style="color: red;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Upload Image Failed!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Please select an image file to upload.
                </div>
            </div>
        </div>
    </div>
{% endblock %}