{% extends "layout.html" %}
{% load static %}

{% block title %}Register{% endblock%}

{% block header %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}

{% block main %}
    <!-- Register Form -->
    <h1>Register</h1>
    <form id="register-form" method="POST" action="{% url 'register_user' %}" enctype="multipart/form-data">
        {% csrf_token %} 
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" required>
        </div>
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" required>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" required>
        </div>
        <div class="mb-3">
            <label for="password_confirmation" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password_confirmation" required>
        </div>
        <div class="mb-3">
            <label for="profile_image" class="form-label">Profile Image</label>
            <input type="file" class="form-control" id="profile_image" name="profile_image" accept="images/*">
        </div>
        <button id="register-button" type="submit" class="btn btn-primary">Register</button>
    </form>
  
    <!-- Modal to inform sucessfully registered -->
    <div class="modal fade" id="successfulModal">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Successful Registration!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Your account has been created successfully. Please proceed to the <a href="{% url 'login' %}">login</a> to access your account.
            </div>
            </div>
        </div>
    </div>

    <!-- Modal to inform error registeration -->
    <div class="modal fade" id="FailModal">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Registration Failed!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}