{% extends "layout.html" %}
{% load static %}

{% block title %}Religious Guidances{% endblock%}

{% block header %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block main %}
    <h1>Be Grateful in All Circumstances</h1>
    <img src="http://127.0.0.1:8000/media/guidance_images/img_019.jpg" height="300" alt="guidance-image">
    <section>
        <div>
            Christianity teaches gratitude as a way to recognize God’s blessings, even in challenging times (1 Thessalonians 5:18). Practicing gratitude enhances joy, shifts focus to the positive, and helps us trust in God’s provision.
        </div>
        <div id="like-display">
            123 &#9829;
            <button type="button" class="btn btn-outline-danger">Like</button>            
        </div>
    </section>
{% endblock %}