#like-display {
    color: #AF1740;
}

h1 {
    font-weight: 700;
    margin-bottom: 20px;
}

img {
    height: 350px;
    width: 500px;
    object-fit: cover;
    object-position: center;
}

#content, #like-display {
    padding: 20px 12% 0px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}